{% extends 'scheduler/base.html' %} {% block content%}

<div class="col-md-8">
            
<h1> Welcome, {{ user.first_name}}! 😊</h1>
<br>
<!-- <p>  User Type: {{ user.user_type }}</p> -->
<div class="content-section">
  <h2> Your Classes Today </h2>
  <hr>
  <div class="accordion" id="accordionToday">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
          <h3>SAT Math at 6:30pm with Daniel</h3> 
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Homework: </strong>Equations of a Circle 1, 2, 3
          <p class='text-muted'> Reminder: Bring your scientific or graphing calculator</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3>SAT Reading at 7:30pm with Abbie</h3> 
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Homework: </strong>Gerunds and Parentheticals 2
          <p class='text-muted'> Reminder: Bring a notebook and pencil</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section">
  <h2 > Your Classes Tomorrow </h2>
  <hr>
  <p class='text-muted'>No class tomorrow 😊</p>
</div>
<div class="content-section">
  <h2> Recent Homework </h2>
  <hr>
  <h3> SAT Math with Daniel </h3>
  <strong>Homework: </strong>Equations of a Circle 1, 2, 3
  <p class='text-muted'> Due: This Thursday</p>
  <hr>
  <h3> SAT Reading with Abbie </h3>
  <strong>Homework: </strong>Gerunds and Parentheticals 2
  <p class='text-muted'> Due: This Thursday</p>
</div>
<div class="content-section">
  <h2> Tutoring Hours Remaining: 2.5 </h2>
  <small class="text-muted">
    Need more hours? 
    <a class="ml-2" href="#">Click here to let us know</a>
  </small>
</div>



  </div>
<div class="col-md-4">
  <div class="content-section">
    <h3>Student Links</h3>
    <p class='text-muted'>Here's some quick links
      <div class="list-group">
        <a href="{% url 'scheduler-myschedule'%}" class="list-group-item list-group-item-action">My Schedule</a>
        <a href="#" class="list-group-item list-group-item-action">Homework</a>
        <a href="#" class="list-group-item list-group-item-action">My Tests</a>
        <a href="#" class="list-group-item list-group-item-action">My Profile</a>
      </div>
    </p>
  </div>
</div>

<div style="position: absolute; bottom: 10px">
  <a href="/admin">ADMIN PORTAL</a>
  </div>
{%endblock%}




 
