{% extends 'scheduler/base.html' %} {% block content%}


<div class="row">
  <!-- <div class="content-section">
    <div class="container col-md-5">
      <div class="row">
      
          <h1> Welcome, {{ user.first_name}}! 😊</h1>
          <p> Your upcoming classes are listed below.</p> 

    </div>
  </div>
  </div> -->

  <div class="content-section">
    <div class="col-md-8">
    {% for day, appList in appointments.items %}
        
      <h1>{{day}}</h1>
      
      <hr/>
      <!-- <h2> {{ day }} </h2> -->
      {% if  not appList %}
        <h6> No class  </h6>
        <br/>
      {% else%}
        {% for appt in appList %}
          <div class="accordion" id="accordionExample">
          <div class="accordion-item">
              <h2 class="accordion-header" id="heading {{appt}} ">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{day}}" aria-expanded="true" aria-controls="collapseTwo">
                  <h2> {{ appt }} </h2>
                </button>
              </h2>
            </div>
            <br/>
          </div>

          
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>

    <div class="col-md-4">
      <p>testing</p>
    </div>
  </div>



<!-- {% for day, appList in appointments.items %}
<h2> {{ day }} </h2>
    {% for appt in appList %}
    <h3> {{appt}}</h3>
    {% endfor %}
{% endfor %} -->

<!-- {{appointmentList}} -->



  <div class="content-section">
    <div class="col-md-8">
      <h2>  {{ user.user_type }}</h2>
      <h2> context: {{ appointments }}</h2>
      <h2> user client id: {{user.client_id}}</h2>
    </div>
  </div>
  


  <div class="content-section">
    <div class="col-md-8">
      <a href="/admin">ADMIN SITE</a>
    </div>
  </div>



</div>

<!-- calendar from https://www.youtube.com/watch?v=4EJlrweJE-M&list=PLCC34OHNcOtqW9BJmgQPPzUpJ8hl49AGy&index=3 -->
  

{%endblock%} 
