{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' href="{% static 'scheduler/main.css'%}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%if title%}
    <title> {{title}}</title>
    {%else%}
    <title>Tutor Portal</title>
    {%endif%}
  </head>
  <body>
    <header class="site-header">

    
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand mr-4" href="{% url 'scheduler-home'%}">Tutor Portal</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          ></button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
              

            
            {% if user.is_authenticated %}

            <ul class="navbar-nav">
              <li>
                <a class="nav-item nav-link" href="{% url 'scheduler-home'%}">Home</a>
              </li>
              
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Scheduling
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'build_schedule'%}">Build Weekly Schedule</a></li>
                  <li><a class="dropdown-item" href="#">View This Weeks Schedule</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Manage Schedules</a></li>
                  <li><a class="dropdown-item" href="#">Manage Appointments</a></li>
                  <!-- add appointments -->
                </ul>
              </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Manage Users/Subjects
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Manage Tutors</a></li>
                    <li><a class="dropdown-item" href="#">Manage Students</a></li>
                    <li><a class="dropdown-item" href="#">Manage Subjects</a></li>
                    <li><a class="dropdown-item" href="#">Manage Parents</a></li>
                  </ul>
                  <!-- add users -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Add Users/Subjects
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Add Tutor</a></li>
                      <li><a class="dropdown-item" href="#">Add Student</a></li>
                      <li><a class="dropdown-item" href="#">Add Parent</a></li>
                      <li><a class="dropdown-item" href="#">Add Subject</a></li>
                    </ul>
                </li>

                
            </ul>

            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->

            <div></div>

            <a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login'%}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register'%}">Register</a>
            {% endif %}


          </div>

        </div>
      </nav>
    

    </header>

    <main role="main" class="container">
      <div class="row">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
      
      <div class="row">
      {% block content %}{% endblock %}
      </div>
  </main>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>
