{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' href="{% static 'scheduler/main.css'%}"></link>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%if title%}
    <title> {{title}}</title>
    {%else%}
    <title>Tutor Portal</title>
    {%endif%}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'scheduler-home'%}">Tutor Portal</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'scheduler-home'%}">Home</a>
              <!-- <a class="nav-item nav-link" href="{% url 'scheduler-about'%}">About</a> -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                
                
                {% if user.user_type == 1 %}
                <!-- User is Schedule Admin -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Staff Options
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    
                    <a class="dropdown-item" href="#">Schedule Appointment</a>
                    <a class="dropdown-item" href="#">Weekly Schedule</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'scheduler-addclient'%}">Add Client</a>
                    <a class="dropdown-item" href="#">Add Student</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Manage Users</a>

                  </div>
                </li>
                {% endif %}
                {% if user.user_type == 2 or user.user_type == 1 %}
                <!-- User is Student -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Student Options
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'scheduler-myschedule'%}">My Schedule</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Homework</a>
                      <a class="dropdown-item" href="#">My Tests</a>
                      <a class="dropdown-item" href="#">My Profile</a>
                    </div>
                  </li>
                {% endif %}
                {% if user.user_type == 3 or user.user_type == 1 %} 
                <!-- User is Teacher -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Teacher Options
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">My Schedule</a>
                      <a class="dropdown-item" href="#">My Availibility</a>
                      <a class="dropdown-item" href="#">My Profile</a>
                    </div>
                  </li>
                {% endif %}
                {% if user.user_type == 4 or user.user_type == 1 %} 
                <!-- User is Parent -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Parent Options
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">My Students</a>
                      <a class="dropdown-item" href="#">My Plan</a>
                      <a class="dropdown-item" href="#">Billing Overview</a>
                    </div>
                  </li> 
                {%endif%}
                
              <a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>
              {% else %}
              <a class="nav-item nav-link" href="{% url 'login'%}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register'%}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container-fluid" style="padding: 2rem;">
        <div class="row">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
              {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
        
        <div class="row">
        {% block content %}{% endblock %}
        </div>
    </main>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>
